#on-us {
  margin-top: 2rem;
}
.navbar {
  opacity: 0.6;
  border-bottom: orange 3px solid;
}

#subscribe {
  background: url("/harley-davidson-05.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#subscribe .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.6);
}

#subscribe .subscribe-inner {
  padding-top: 100px;
}

#subscribe .card-form {
  opacity: 0.8;
}
